body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(52, 52, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", Helvetica, sans-serif;
    letter-spacing: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto;
    width: auto;
    height: 100%;
    width: 70vW;
}

header{
    height: 27vh;
    background-color: rgb(189, 0, 0);
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 8vw;
}
.header_bookinist{
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  margin-bottom: 10px;
}

.bookinist{
  margin-top: 30px;
  margin-left: 15px;
  width: 30vw;
}

.menu {
    font-family: 'Montserrat', Helvetica, sans-serif;
    list-style: none;      /* убираем маркеры списка */
    padding: 0;
    margin: 0;
    display: flex;         /* элементы в одну строку */
    gap: 20px;             /* расстояние между пунктами */
    margin-bottom: 15px;
  }
  
  .menu li a {
    text-decoration: none; /* убираем подчёркивание */
    color: white;          /* белый цвет ссылок */
    font-size: 20px;       /* размер шрифта */
    transition: color 0.3s ease;
    
  }
  
  .menu li a:hover {
    color: #ddd;           /* лёгкий серый при наведении */
  }
  main{
    height: 100%;
  }
  .title{
    color:  rgb(52, 52, 52);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  } 
  
  footer{
    height: 20vh;
    background-color: rgb(189, 0, 0);
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alib_link{
    text-decoration: none; /* убираем подчёркивание */
    color: white;          /* белый цвет ссылок */
    font-size: 20px; 
    font-weight: bold;      /* размер шрифта */
    transition: color 0.3s ease;
    margin-left: 10px;
}

.VK_logo{
  width: 26px;
  margin-right: 10px;
  transition: opacity 0.3s ease;
}
.footer_links{
  margin-bottom: 15px;
}
.footer_links a.alib_link:hover {
  color: #ddd; /* станет серым */
}

.VK_logo:hover{
  filter: grayscale(100%);
  opacity: 0.8;
}

  #catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: #fafafa;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  .book-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;   /* ограничение в 3 строки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px; /* подгони под свой макет */
  }
  .book-card img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .book-card h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  .price {
    font-weight: bold;
    color: darkgreen;
    margin: 8px 0;
  }
  .buy-btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    background: #0077cc;
    color: #fff;
    text-decoration: none;
  }
  .buy-btn:hover {
    background: #005fa3;
  }
  .no-buy {
    color: #999;
    font-style: italic;
  }
  
  .loader {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* или 100vh если хочешь на весь экран */
  }
  
  .loader img {
    width: 50px; /* подгони под размер своей гифки */
    height: auto;
  }

  .text{
    margin: 30px;
  }